/*  font-family: "Azeret Mono", monospace; */

* {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* shared styles starts here */
.text-primary {
  color: #0d1321;
}

/* shared styles ends here */

/* navbar-styling starts here */
.nav-container {
  /* width: 1440px; */
  /* height: 60px; */
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 150px;
  margin-top: 38px;
  margin-bottom: 36px;
  /* margin-left: 150px;
  margin-right: 150px; */
}
.nav-container h3 {
  font-weight: 800;
  font-size: 28px;
}
.btn-primary a {
}
.btn-primary {
  font-size: 20px;
  font-weight: 500;
  padding: 17px 20px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
  color: #0d1321;
}

/* navbar-styling endshere */

/* banner container styles  starts*/
.banner-container {
  /* width: 1440px; */
  height: 652px;

  /* margin: 0 auto; */
  background-image: url(./assets/Hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 74px;
}
.banner-content {
  width: 998px;
  height: 581px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.banner-text {
  display: flex;
  flex-direction: column;
  height: 309px;
  /* justify-content: center; */
  align-items: center;
  margin-top: 32px;
}
.banner-content h1 {
  font-size: 48px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 24px;
}
.banner-content p {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 32px;
}
.btn-contact-me a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
}
.btn-contact-me {
  /* width: 244px; */
  height: 65px;
  padding: 21px 24px;
  background-color: #0d1321;
  border-radius: 8px;
  /* margin-bottom: 0px; */
}
.hero-image-container {
  height: 240.28px;
  width: 240px;
  margin-top: 0px;
  /* margin-bottom: 32px; */
}
.hero-image-container img {
  height: 100%;
  width: 100%;
}

/* banner container styles ends*/

/* <!-- why Web development is necessary starts here --> */
.wd-container {
  max-width: 1140px;
  min-height: 1393px;

  margin: 0 auto;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  display: flex;
  justify-content: center;
  align-items: center;
}
.wd-content {
  width: 946px;
  min-height: 1233px;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.title {
  width: 852px;
  text-align: center;
}
#why-wd {
  font-size: 32px;
  font-weight: 800;
}
.title p {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 48px;
}
/* common styling starts */
#goal {
  width: 946px;
  height: 336px;

  flex-direction: column;
  margin-bottom: 48px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 16px;
}
.goals {
  display: flex;
  justify-content: center;
  align-items: center;
}
.goals-content {
  width: 850px;
  height: 240px;

  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}
.goal1-3 {
  width: 477px;
  height: 219px;
}
.goal1-3-image-container {
  width: 274.17px;
  height: 240px;
  margin-left: 98.83px;
}
.goal1-3 h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
  color: rgba(13, 19, 33, 0.7);
}
.goal1-3 p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 32px;
  color: rgba(13, 19, 33, 0.7);
}
.btn-secondary a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: rgba(13, 19, 33, 0.7);
}
.btn-secondary {
  height: 47px;
  width: 171px;
  font-weight: 600;
  /* padding: 12px 20px 12px 20px; */
}
.goal2-image-container {
  width: 240px;
  height: 240px;
  margin-left: 98.83px;
}
.for-making-left {
  display: flex;
  justify-content: flex-start;
}
.for-bg {
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}
/* common styling ends */
/* <!-- why Web development is necessary sendshere --> */
